Master styles
*
{
  margin:0 ;
  padding: 0;
}
body{
  background-color: #0fa0e9;
  font-family:  sans-serif;

}
.TopNavBar
{
  height: 100px;
  top: 0;
  position: sticky;
  background: #fff;
  margin-bottom: 20px;
  /* z-index: 2; */
   display: flex;
}
.Header
 {
 margin-top: 60px;
font-weight: bold;
}
.SideMenu
{
  font: 1em sans-serif;
  font-weight: bold;
}
.SideMenu ul
{
  margin-left: 10px;
}
.SideMenu ul li 
{
  list-style-type: none;
  margin-top: 10px;
  cursor: pointer;
}

.SideMenu ul li:hover
{
  color: #0fa0e9;
}
.SideMenu ul li ul

{
  display: none;
  z-index: 10;
  top: 77px;
  
}

.SideMenu ul li
{
  color: rgb(139, 145, 149);
}
.SideMenu ul li:hover ul
{
  color: aqua;
display: block;
height: 400px;
margin-bottom: 300%;
padding: 5px 100px 10px 10px;
position: fixed;
background: #ececec;
box-shadow: 1px 1pz 4px 1px rgb(0, 0, 0, 00.5);

}
.fa-bars
{
  margin-right: 5px;
}

.Logo
{
  height: 150%;
  width: 10%;
  margin:  0 20px ;
}

.FormControl
{
  margin-top: 11px;
    margin-left: 30px !important;
  border: 1px solid rgb(0, 0, 0) !important;
  border-top-left-radius: 20px !important;
  border-bottom-left-radius: 20px !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  box-shadow:none;
}
.MenuBar ul li a:hover
{
  color: rgb(28, 196, 202);
}
.input-goup-text
{
  margin: 11px 10px 0px 0;

  background: #d3d6d8;
  border: 1px solid !important ;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-top-right-radius: 20px !important;
  border-bottom-right-radius: 20px !important;
  cursor: pointer;
}

.SearchBox
{
  margin-top: 0%;
  display: inline-flex;
  float: right;
  width: 15%;
}
.fa-search
{
  color: rgb(2, 1, 1);
}
.MenuBar
{
  width: 100%;
  height: 57px;
  float: right;
  margin-top: 40px;
   margin-right:10px;
  text-transform: uppercase;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
  font-weight: 600;
}
.MenuBar ul
{
  display: inline-flex ;
  float: right;
}
.MenuBar ul li
{
  border-left: 1px solid #fff;
  list-style-type: none;
  padding: 15px 5px;
  text-align: center;
  cursor: pointer;
}

.MenuBar ul li a
{
  font-size: 16px;
  font-weight: bold;
  color: rgb(121, 115, 115);

}
.fa-shopping-cart
{
  margin-right: 5px;
}
@media only screen and (max-width:980px)
{
  .TopNavBar
  {
    height: 118px;
    margin-bottom: 0;
  }


  .SearchBox
  {
    width: 10%;
  }
  .data-collection
  {
    margin: 10px 0;
    width: 100%;
  }
  .MenuBar
  {
    width: 100%;
  }
  .MenuBar ul 
  {
    margin: 10px 0;
    width: 100%;
  }
.MenuBar ul il 
{
  height: 57px;
  width: 100%;
}

.SideMenu
{
  width: 34%;
  z-index: 20;
  top: 133px;
 /* position: fixed; */
 font-size: 12px;
}

.Logo
{
  width: 10%;
}
}
